name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: 
      - 'main'
      - 'develop'

  pull_request:
    branches:
      - 'main'
      - 'develop'

  workflow_dispatch:
    
permissions:
  contents: read
  
env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/DataEngine
  DOCKERFILE_PATH: source/AAS.TwinEngine.DataEngine/Dockerfile
  BUILD_CONTEXT: source


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=ref,event=pr

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          sbom: true
          provenance: mode=max
          context: ${{ env.BUILD_CONTEXT }}
          file: ${{ env.DOCKERFILE_PATH }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Extract the pure application SBOM from the artifact stage, we want to handle it separately from the container SBOM
      # This automaticaly re-uses the previously generated stage from cache, so we get the exact sbom from previous build step
      - name: Export Application SBOM from artifact stage
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.BUILD_CONTEXT }}
          file: ${{ env.DOCKERFILE_PATH }}
          target: app-sbom-artifact
          push: false
          outputs: type=local,dest=sbom-output

      # Generate container SBOM. 
      - name: Run Trivy in GitHub SBOM mode to generate CycloneDX SBOM for container
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'image'
          format: 'cyclonedx'
          output: 'sbom-output/sbom_container.cyclonedx.json'
          image-ref: ${{ steps.meta.outputs.tags }}
          skip-dirs: '/app' # Skip the /app directory as we handle the content of the application in a seperate SBOM for easier vulnerability management and because trivy misses important fields
          
      - name: Upload trivy/container AND application SBOMs as a Github artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: '${{ github.workspace }}/sbom-output/'
